@model SysFloricola.Models.EMPRESAS
@{
	Layout = null;
}

<div class="flex" id="flex">
	<div class="contenido-modal" style="width: 600px; height:350px;">
		<div class="modal-Titulo flex">
			<h6 id="tituloModalCrear" class="text-white pt-2"></h6>
			<span class="cerrarModal" onclick="cerrarModal()" id="cerrarModal">&times;</span>
		</div>
		<div class="modal-Cuerpo">
			@using (Html.BeginForm("CrearEmpresa", "Empresas", FormMethod.Post, new { onsubmit = "return validar()" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal pl-3 pr-3">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.EMPCODIGOI)
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">RUC</label>
							@Html.EditorFor(model => model.EMPRUC, new { htmlAttributes = new { @class = "form-control", @id = "txtRuc" } })
							<label id="ruc" hidden class="text-danger control-label">Ingrese el RUC</label>
						</div>
						<div class="col-md-6">
							<label class="control-label">Nombre</label>
							@Html.EditorFor(model => model.EMPNOMBREC, new { htmlAttributes = new { @class = "form-control", @id = "txtNombre" } })
							<label id="nombre" hidden class="text-danger control-label">Ingrese el nombre</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Dirección</label>
							@Html.EditorFor(model => model.EMPDIRECCION, new { htmlAttributes = new { @class = "form-control", @id = "txtDireccion" } })
							<label id="direccion" hidden class="text-danger control-label">Ingrese la dirección</label>
						</div>
						<div class="col-md-6">
							<label class="control-label">Teléfono</label>
							@Html.EditorFor(model => model.EMPTELEFOC, new { htmlAttributes = new { @class = "form-control", @id = "txtTelefono" } })
							<label id="telefono" hidden class="text-danger control-label">Ingrese el teléfono</label>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12" style="text-align:right">
						<input id="btnFormulario" type="submit" value="Guardar" class="btn btn-success" />
						<input onclick="cerrarModal()" type="button" value="Cancelar" class="btn btn-info" />
					</div>
				</div>
			}
		</div>
	</div>
</div>

