@model IEnumerable<SysFloricola.Models.PREENVIOS>
@{
	ViewBag.Title = "Preenvios";
}

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<h2 class="text-center">Preenvío</h2>

<div class="row pt-2 pb-4">
	<div class=" pl-5 pr-5 col-md-5 text-center">@Html.Partial("~/Views/Shared/_Flash.cshtml")</div> <br />
	<div class="col-md-12 pr-5" style="text-align:right">
		<a href="~/Preenvio/Preenvio" style="cursor: pointer;" class="action-item text-black-50 " data-toggle="tooltip" title="Crear Preenvío">
			<i class="fa fa-plus text-success" style="font-size: 16px;"></i> Crear Registro
		</a>
	</div>
</div>

<div class="row pt-2">
	<div class="col-md-12 pl-5 pr-5" style="text-align:center">
		<table class="table table-cards table-responsive-lg" id="tabla">
			<thead style="background-color: #2A3F54" class="text-white">
				<tr>
					<th scope="col">
						Fecha
					</th>
					<th scope="col">
						Cliente
					</th>
					<th scope="col">
						Número
					</th>
					<th scope="col">
						AWB
					</th>
					<th scope="col">
						HAWB
					</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.PREFECHA)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CLIENTES.CLNRAZONSOCIAL)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PREAWB)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PREHAWB)
						</td>
						<td class="text-center">
							<div class="actions ml-3">
								<a href="~/ControlFlorNacional/CrearControlFlorNacional?proceso=@item.PRECODIGOI" font-size:14px;" class="action-item mr-2 text-info" data-toggle="tooltip" title="Editar Registro">
									<i class="fa fa-edit"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/Scripts/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function () {
			$('.alert').fadeIn();
			setTimeout(function () {
				$(".alert").fadeOut();
			}, 5000);

			$('#tabla').DataTable({
				"ordering": false,
				"bInfo": false,
				"language": {
					"lengthMenu": "Mostrar _MENU_ por página",
					"zeroRecords": "No hay registros",
					"infoEmpty": "No hay registros disponibles",
					"search": "Buscar:",
					"paginate": {
						"previous": "Anterior",
						"next": "Siguiente",
					}
				}
			});

		});

	</script>
}


