@model IEnumerable<SysFloricola.Models.EMPLEADOS>

@{
	ViewBag.Title = "Empleados";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/EstilosModal.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<h2 class="text-center">Administración de Empleados</h2>

<div class="row pt-2 pb-4">
	<div class=" pl-5 pr-5 col-md-5 text-center">@Html.Partial("~/Views/Shared/_Flash.cshtml")</div> <br />
	<div class="col-md-12 pr-5" style="text-align:right">
		<a onclick="abrirModal(0)" style="cursor: pointer;" class="action-item text-black-50 " data-toggle="tooltip" title="Crear Empleado">
			<i class="fa fa-plus text-success" style="font-size: 16px;"></i> Crear Empleado
		</a>
	</div>
</div>

<div class="row pt-2">
	<div class="col-md-12 pl-5 pr-5" style="text-align:center">
		<table class="table table-cards table-responsive-lg" id="tablaEmpleados">
			<thead style="background-color: #2A3F54" class="text-white">
				<tr>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLCEDULA)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLAPELLIDOP)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLAPELLIDOM)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLNOMBRES)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLDIRECCION)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EPLTELEFONO)
					</th>
					<th scope="col">
						@Html.DisplayNameFor(model => model.EMPRESAS.EMPNOMBREC)
					</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.EPLCEDULA)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EPLAPELLIDOP)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EPLAPELLIDOM)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EPLNOMBRES)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EPLDIRECCION)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EPLTELEFONO)
						</td>
						<td >
							@Html.DisplayFor(modelItem => item.EMPRESAS.EMPNOMBREC)
						</td>
						<td class="text-center">
							<div class="actions ml-3">
								<a onclick="abrirModal(@item.EPLCODIGOI)" style="cursor: pointer; font-size:14px;" class="action-item mr-2 text-info" data-toggle="tooltip" title="Editar Empleado">
									<i class="fa fa-edit"></i>
								</a>
								<a onclick="abrirModalEliminar(@item.EPLCODIGOI)" style="cursor: pointer; font-size:14px;" class="action-item text-danger mr-2" data-toggle="tooltip" title="Eliminar Empleado">
									<i class="fa fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<div class="myModal" id="modalCrearEmpleado" name="modalCrearEmpleado"></div>
<div class="myModal" id="modalEliminar" name="modalEliminar"></div>

@section Scripts {
	<script src="~/Scripts/jquery.dataTables.js"></script>
	<script>
		modalCrearEmpleado = document.getElementById('modalCrearEmpleado');
		modalEliminar = document.getElementById('modalEliminar');

		$(document).ready(function () {
			$('.alert').fadeIn();
                setTimeout(function () {
                $(".alert").fadeOut();
			}, 5000);

			$('#tablaEmpleados').DataTable({
				"ordering": false,
				"bInfo": false,
				"language": {
					"lengthMenu": "Mostrar _MENU_ por página",
					"zeroRecords": "No hay registros",					
					"infoEmpty": "No hay registros disponibles",
					"search": "Buscar:",
					 "paginate": {
						 "previous": "Anterior",
						 "next": "Siguiente",
					}
				}
			});
			
		});

	    function abrirModal(eplCodigoI) {
			var url = '/Empleados/CrearEmpleado?eplCodigoI=' + eplCodigoI;
            $.get(url, function (url) {
                $("#modalCrearEmpleado").html(url);
                modalCrearEmpleado.style.display = 'block';
				var tituloModal = document.getElementById('tituloModalCrearEmpleado');
				var btnFormulario = document.getElementById('btnFormulario');
				if (eplCodigoI == 0) {
					tituloModal.textContent = "Crear Empleado";
					btnFormulario.value = "Crear Empleado";
				}
				else {
					tituloModal.textContent = "Editar Empleado"
					btnFormulario.value = "Editar Empleado";
				}
                bloquearBarraDesplazamiento();
            });
		}

		function cerrarModal() {
            modalCrearEmpleado.style.display = 'none';
            activarBarraDesplazamiento();
		}
		
		function cerrarModalConfirmacion() {
            modalEliminar.style.display = 'none';
            activarBarraDesplazamiento();
		}

		function bloquearBarraDesplazamiento() {
            $('body').css({ 'overflow': 'hidden' });
            $(document).bind('scroll', function () {
                window.scrollTo(0, 0);
            });
        }

        function activarBarraDesplazamiento() {
            $(document).unbind('scroll');
            $('body').css({ 'overflow': 'visible' });
			}

		function validar() {
			var cedula = $('#txtCedula').val();
			var apellido = $('#txtApellido').val();
			var nombre = $('#txtNombre').val();
			var direccion = $('#txtDireccion').val();
			if (cedula.trim() == "") {
				console.log("entró");
				var elemento = document.getElementById("cedula");
				elemento.hidden = false;
				return false;
			}
			else if (apellido.trim() == "") {
				var elemento = document.getElementById("apellido");
				elemento.hidden = false;
				return false;
			} else if (nombre.trim() == "") {
				var elemento = document.getElementById("nombre");
				elemento.hidden = false;
				return false;
			}else if (direccion.trim() == "") {
				var elemento = document.getElementById("direccion");
				elemento.hidden = false;
				return false;
			}
			}

		function abrirModalEliminar(eplCodigoI) {
			var url = '/Empleados/Confirmacion?eplCodigoI=' + eplCodigoI;
			$.get(url, function (url) {
				$("#modalEliminar").html(url);
				modalEliminar.style.display = 'block'
				bloquearBarraDesplazamiento();
			});
		}

	</script>
}

